version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: 'crate-ci/typos'
  - package-ecosystem: 'bundler'
    directory: '/'
    schedule:
      interval: 'monthly'
    versioning-strategy: increase
    groups:
      rubocop-dependencies:
        patterns:
          - '*rubocop*'
    ignore:
      - dependency-name: 'rubocop'
        versions:
          # https://github.com/rubocop/rubocop/pull/10796
          - '1.31.2'
          # https://github.com/rubocop/rubocop/issues/11549
          - '1.45.0'
          # https://github.com/rubocop/rubocop/pull/14067#issuecomment-2820741234
          - '1.75.3'
