# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
name: Spec
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/spec.yml'
      - '.ruby-version'
      - '**.gemspec'
      - 'Gemfile'
      - 'gemfiles'
      - 'Rakefile'
      - '**.rb'
  pull_request:
    paths:
      - '.github/workflows/spec.yml'
      - '.ruby-version'
      - '**.gemspec'
      - 'Gemfile'
      - 'gemfiles'
      - 'Rakefile'
      - '**.rb'
jobs:
  rspec:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        ruby: ['head', '4.0', '3.4']
        gemfile: ['Gemfile', 'gemfiles/oldest.gemfile']
    runs-on: ${{ matrix.os }}
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfile }}
      # https://github.com/kachick/irb-power_assert/blob/104834846baf5caa1e8536a11c43acdd56fc849c/CONTRIBUTING.md#adding-dependencies-for-this-gem
      BUNDLE_WITHOUT: development
    steps:
      - name: Ensure clearing cache. See https://github.com/kachick/irb-power_assert/issues/425 for detail
        run: |
          rm -rf "$RUNNER_TOOL_CACHE"
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          # Enabling is the recommended way, but it cannot detect runner changes in early stage.
          # So disable it is better for test job, do not mind in other jobs
          bundler-cache: false # runs 'bundle install' and caches installed gems automatically
      - run: bundle install
      - run: bundle exec rake spec
